 <div class="content">
<h1 class='title'>New Task </h1>
<form action="create" method="post">  
    <div class="field">
    <label class='lable'>Task Name:</label></br>
    <input class='input' type="text" name="name" placeholder="Enter task name">
    </div>
    </br>
    <div class="field">
    <label class='lable'>Task Detail:</label></br>
    <input class='input' type="text" name="detail" placeholder="Enter task detail">
    </div>
    </br>
  <label class='lable'>Status:</label></br>
  <select class='select' name="status" id="status">
    <option value="0">Doing</option>
    <option value="1">Done</option>
  </select>
  </br>
    </br>
    <div class="content-btnnew">
    <button class='btn-show' type='submit'>ADD</button>
    <button class='btn-back' type="button"><%= link_to 'Back', tasks_path %></button>
    </div>  
  </form>
  </div>
